{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<section>
   <article>
      <h1>Reservation item</h1>
      <span>
         <a href="{% url 'home' %}">Home</a> /
         <a href="{% url 'reservations' %}">Reservations</a>/
         {{booking.name}}
      </span>
      <!--Begin row-->
      <div class="row">
         <!--Begin col-->
         <div class="column">
            <h2>
                {{ booking.name }}
            </h2>
            <p>
                Email Address: {{ booking.email }}
            </p>
            <br/>
            <p>
                Phone #: {{ booking.phone }}
            </p>
            <p>
                Date: {{ booking.reservation_date }}
            </p>
            <p>
                Time: {{ booking.reservation_slot }}
            </p>
         </div>

         <!--End col-->
      </div>
      <!--End row-->
   </article>
</section>
{% endblock %}